<html>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load index %}

<form method="POST" action="confirmation.html">
    {% csrf_token %}
<table>
        {% for field in some_form %}
            <tr>
                <td><b><img src={{ field.label }} width="150" height="150"></b></td>
                <td>{{ field }}</td>
            </tr>
        {% endfor %}
</table>
</form>

<table>
<input type="submit" value="Zamów!">
{% for o in some_list %}
    <tr>{% bootstrap_label o.name %}</tr>
{% endfor %}
</table>

</html>