<html>

{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% load index %}

<form method="POST" action="confirmation.html"> {% csrf_token %}
    <table>
        <tr>
        <td>
            {% for field in some_form %}
                <td>
                <b><img src={{ field.label }} width="150" height="150"></b><br>
                {{ field }}
                {% if forloop.counter|divisibleby:"3" %}
                </td>
                    <tr>
                    <td>
                {% endif %}
            </td>

            {% endfor %}
            </td>
        </tr>
</table>
</form>

<table>
<input type="submit" value="Zamawiaj!">
{% for o in some_list %}
    <tr>{% bootstrap_label o.name %}</tr>
{% endfor %}
</table>

</html>